/* REVIEWS */
.review-container {
  display: flex;
  justify-content: center;
  gap: 1.25em; /* ≈ 20px */
  margin: 1.25em; /* ≈ 20px */
  margin-top: 6.25em; /* ≈ 100px */
}

.review-box {
  width: 30%;
  background-color: #fff;
  padding: 1.25em; /* ≈ 20px */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.company-name {
  font-weight: bold;
  font-size: 1.5em; /* ≈ 24px */
  margin-bottom: 0.625em; /* ≈ 10px */
  color: #f841c7;
}

.review-quote {
  font-style: italic;
  font-size: 1.125em; /* ≈ 18px */
  color: #555;
}
